@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<main id="main">
	<!--hero section-->
	<section id="hero">
		<div class="container headerSpacing">
			<div class="row d-flex align-items-center">
				<div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
					@if (Model.HeroTittle != null)
					{
						<h1>@Model.HeroTittle</h1>
					}
					@if (Model.HeroDescription != null)
					{
						<h2>@Model.HeroDescription</h2>
						@*<a href="#about" class="btn-get-started scrollto">Get Started</a>*@
					}
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
					@if (Model.HeroImage != null)
					{
						<img src="@Model.HeroImage.Url" class="img-fluid" alt="img">
					}
				</div>
			</div>
		</div>
	</section>
	<!-- End Hero -->		
	<!--introduction-->
	<section id="about" class="about section-bg">
		<div class="container">
			<div class="row">
				<!--To do: Let the image pull from the back office-->
				<div class="image intro col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
				<div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
					<div class="content d-flex flex-column justify-content-center">
						@if (!string.IsNullOrEmpty(Model.IntroductionSectionIntroductionHeader))
						{
							<h3 data-aos="fade-in" data-aos-delay="100">@Model.IntroductionSectionIntroductionHeader</h3>
						}
						@if (Model.IntroductionSectionIntroductionDescription != null)
						{
							<p data-aos="fade-in">@Model.IntroductionSectionIntroductionDescription</p>
						}
						<div class="row">
							<div class="col-md-6 icon-box" data-aos="fade-up">
								@if (!string.IsNullOrEmpty(Model.FirstIntroBlockTitle) && !string.IsNullOrEmpty(Model.FirstIntroBlockDescription) && !string.IsNullOrEmpty(Model.FirstIntroBlockMoreDescription))
								{


									<i class="bx bx-receipt"></i>
									<h4><a>@Model.FirstIntroBlockTitle</a></h4>
									<p>@Model.FirstIntroBlockDescription</p>
									<p id="myDIV" class="noDisplay">@Model.FirstIntroBlockMoreDescription</p>
									<div class="row" id="myMainDiv" onclick="myFunction()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction() {
											var x = document.getElementById("myDIV");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>
								}
							</div>
							<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
								@if (!string.IsNullOrEmpty(Model.FourthIntroBlockTitle) && !string.IsNullOrEmpty(Model.FourthIntroBlockDescription) && !string.IsNullOrEmpty(Model.FourthIntroBlockMoreDescription))
								{
									<i class="bx bx-receipt"></i>
									<h4><a>@Model.FourthIntroBlockTitle</a></h4>
									<p>@Model.FourthIntroBlockDescription</p>
									<p id="myDIV1" class="noDisplay">@Model.FourthIntroBlockMoreDescription</p>

									<div class="row" id="myMainDiv" onclick="myFunction1()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction1() {
											var x = document.getElementById("myDIV1");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>

								}
							</div>
							<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
								@if (!string.IsNullOrEmpty(Model.ThirdIntroBlockTitle) && !string.IsNullOrEmpty(Model.ThirdIntroBlockDescription) && !string.IsNullOrEmpty(Model.ThirdIntroBlockMoreDescription))
								{
									<i class="bx bx-receipt"></i>
									<h4><a>@Model.ThirdIntroBlockTitle</a></h4>
									<p>@Model.ThirdIntroBlockDescription</p>
									<p id="myDIV2" class="noDisplay">@Model.ThirdIntroBlockMoreDescription</p>
									<div class="row" id="myMainDiv" onclick="myFunction2()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction2() {
											var x = document.getElementById("myDIV2");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>

								}
							</div>
							<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
								@if (!string.IsNullOrEmpty(Model.SecondIntroBlockTitle) && !string.IsNullOrEmpty(Model.SecondIntroBlockDescription) && !string.IsNullOrEmpty(Model.SecondIntroBlockMoreDescription))
								{

									<i class="bx bx-receipt"></i>
									<h4><a>@Model.SecondIntroBlockTitle</a></h4>
									<p>@Model.SecondIntroBlockDescription</p>
									<p id="myDIV3" class="noDisplay">@Model.SecondIntroBlockMoreDescription</p>
									<div class="row" id="myMainDiv" onclick="myFunction3()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction3() {
											var x = document.getElementById("myDIV3");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>

								}
							</div>
							<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
								@if (!string.IsNullOrEmpty(Model.FifthIntroBlockTitle) && !string.IsNullOrEmpty(Model.FifthIntroBlockDescription) && !string.IsNullOrEmpty(Model.FifthIntroBlockMoreDescription))
								{

									<i class="bx bxs-face"></i>
									<h4><a>@Model.FifthIntroBlockTitle</a></h4>
									<p>@Model.FifthIntroBlockDescription</p>
									<p id="myDIV4" class="noDisplay">@Model.FifthIntroBlockMoreDescription</p>
									<div class="row" id="myMainDiv" onclick="myFunction4()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction4() {
											var x = document.getElementById("myDIV4");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>

								}
							</div>
							<div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
								@if (!string.IsNullOrEmpty(Model.SixthIntroBlockTitle) && !string.IsNullOrEmpty(Model.SixthIntroBlockDescription) && !string.IsNullOrEmpty(Model.SixthIntroBlockMoreDescription))
								{

									<i class="bx bxs-face"></i>
									<h4><a>@Model.SixthIntroBlockTitle</a></h4>
									<p>@Model.SixthIntroBlockDescription</p>
									<p id="myDIV5" class="noDisplay">@Model.SixthIntroBlockMoreDescription</p>
									<div class="row" id="myMainDiv" onclick="myFunction5()">
										<div class="col-12 readMoreColor">
											<img class="rightArrowImage" src="~/Media/rightPinkArrow.png" />
											Read More
										</div>
									</div>
									<script>
										function myFunction5() {
											var x = document.getElementById("myDIV5");
											if (x.style.display === "none") {
												x.style.display = "block";
											} else {
												x.style.display = "none";
											}
										}
									</script>
								}

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- End introduction Section -->
	<!-- ======= Login Section ======= -->
	<section id="loginSection" class="contact section-bg">
		<div class="container">
			<div class="section-title">
				@if (!string.IsNullOrWhiteSpace(@Model.IntroductionTitle))
				{
					<h2 data-aos="fade-in">@Model.IntroductionTitle</h2>
				}
				@if (@Model.IntroductionDescription != null)
				{
					<p data-aos="fade-in">@Model.IntroductionDescription</p>
				}
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
						<div class="form-row">
							<div class="col-md-6 form-group">
								@if (!string.IsNullOrWhiteSpace(@Model.LoginEmailAddressPlaceholder))
								{
									<input type="email" class="form-control" name="email" id="email" placeholder="@Model.LoginEmailAddressPlaceholder" data-rule="email" data-msg="Please enter a valid email" />
								}
							</div>
							<div class="col-md-6 form-group">
								@if (!string.IsNullOrWhiteSpace(@Model.LoginPasswordPlaceholder))
								{
									<input type="password" class="form-control" name="password" id="email" placeholder="@Model.LoginPasswordPlaceholder" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								}
							</div>
						</div>
						<div class="text-center">
							<br />
							@if (!string.IsNullOrWhiteSpace(@Model.LoginButtonText) && @Model.LoginButtonLink != null)
							{
								<a class="yourKidsButton" href="@Model.LoginButtonLink.Url">@Model.LoginButtonText</a>
							}
							<br /><br />
							@if (!string.IsNullOrWhiteSpace(Model.ForgotPasswordText) && Model.ForgotPasswordLink != null)
							{
							<a class="smallButtonLink" href="@Model.ForgotPasswordLink.Url" >@Model.ForgotPasswordText</a>
							}
							@if (!string.IsNullOrWhiteSpace(Model.RegisterText) && Model.RegisterLink != null)
							{
							<a class="smallButtonLink">|</a>
							<a class="smallButtonLink" href="@Model.RegisterLink.Url">@Model.RegisterText</a>
							}
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Login Section -->
</main>
<!--Back to top-->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

		</section>
		<!-- End introduction Section -->
		<!-- ======= Login Section ======= -->
		<section id="loginSection" class="contact section-bg">
			<div class="container">
				<div class="section-title">
					@if (!string.IsNullOrWhiteSpace(@Model.IntroductionTitle))
					{
					<h2 data-aos="fade-in">@Model.IntroductionTitle</h2>
					}
					@if (@Model.IntroductionDescription != null)
					{
					<p data-aos="fade-in">@Model.IntroductionDescription</p>
					}
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
							<div class="form-row">
								<div class="col-md-6 form-group">
									@if (!string.IsNullOrWhiteSpace(@Model.LoginEmailAddressPlaceholder))
									{
									<input type="email" class="form-control" name="email" id="email" placeholder="@Model.LoginEmailAddressPlaceholder" data-rule="email" data-msg="Please enter a valid email" />
									}
								</div>
								<div class="col-md-6 form-group">
									@if (!string.IsNullOrWhiteSpace(@Model.LoginPasswordPlaceholder))
									{
									<input type="password" class="form-control" name="password" id="email" placeholder="@Model.LoginPasswordPlaceholder" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
									}
								</div>
							</div>
							<div class="text-center">
								<br />
								@if (!string.IsNullOrWhiteSpace(@Model.LoginButtonText) && @Model.LoginButtonLink != null)
								{
								<a class="yourKidsButton" href="@Model.LoginButtonLink.Url">@Model.LoginButtonText</a>
								}
								<br /><br />
								@if (!string.IsNullOrWhiteSpace(Model.ForgotPasswordText) && Model.ForgotPasswordLink != null)
								{
								<a class="smallButtonLink" href="@Model.ForgotPasswordLink.Url">@Model.ForgotPasswordText</a>
								}
								@if (!string.IsNullOrWhiteSpace(Model.RegisterText) && Model.RegisterLink != null)
								{
								<a class="smallButtonLink">|</a>
								<a class="smallButtonLink" href="@Model.RegisterLink.Url">@Model.RegisterText</a>
								}
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- End Login Section -->
	</main>
	<!--Back to top-->
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

