@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Lessons>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    try
    {
        if (Umbraco.MemberIsLoggedOn())
        {
            Layout = "loggedinMaster.cshtml";
            <main id="main">
                <!-- ======= Lesson Section ======= -->
                <section id="lessons" class="services section-bg">
                    <div class="container">
                        <div class="section-title">
                            @if (!string.IsNullOrWhiteSpace(@Model.LessonsSectionHeader))
                            {
                                <h2 data-aos="fade-in">@Model.LessonsSectionHeader</h2>
                            }
                            @if (@Model.LessonSectionDescription != null)
                            {
                                <p data-aos="fade-in">@Model.LessonSectionDescription</p>
                            }
                        </div>
                        <div class="row">
                            @if (Model.LessonList != null)
                            {
                                foreach (Lesson lesson in Model.LessonList)
                                {
                                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                                        <div class="card">
                                            <div class="card-img">
                                                @if (lesson.LessonImage != null)
                                                {
                                                    <img class="imgCard" src="@lesson.LessonImage.Url" alt="Lesson image">
                                                }
                                            </div>
                                            <div class="card-body">
                                                @if (!string.IsNullOrWhiteSpace(lesson.LessonTitle) && lesson.LessonButtonLink != null)
                                                {
                                                    <h5 class="card-title"><a href="@lesson.LessonButtonLink.Url">@lesson.LessonTitle</a></h5>
                                                }
                                                @if (lesson.LessonShortDescription != null)
                                                {
                                                    <p class="card-text">@lesson.LessonShortDescription</p>
                                                }
                                                <div class="read-more">
                                                    @if (!string.IsNullOrWhiteSpace(lesson.LessonButtonText) && lesson.LessonButtonLink != null)
                                                    {
                                                        <a href="@lesson.LessonButtonLink.Url">
                                                            <i class="icofont-arrow-right"></i>
                                                            @lesson.LessonButtonText
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </section>
                <!-- End Lesson Section -->
            </main>
            <!--Back to the top-->
            <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        }
        else
        {
            Response.Redirect("/login");
        }
    }
    catch (Exception)
    {
        Response.Redirect("/login");
    }
}