@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LessonWeekLayout>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    try
    {
        if (Umbraco.MemberIsLoggedOn())
        {
            Layout = "loggedinMaster.cshtml";    
            <main id="main">        
                <section class="page-section" id="about">
                    <div class="container">
                        <!-- Main heading-->
                        <div class="section-title">
                            @if (!string.IsNullOrWhiteSpace(Model.PageMainSectionTitle))
                            {
                                <h2 data-aos="fade-in">@Model.PageMainSectionTitle</h2>
                            }
                            @if (Model.PageMainSectionDescription != null)
                            {
                                <p data-aos="fade-in">@Model.PageMainSectionDescription</p>
                            }
                        </div>                    
                        <br />                        
                        <div class="row content">
                            <!--Class image-->
                            @if (Model.ClassImage != null)
                            {
                                <div class="col-md-5" data-aos="fade-right">
                                    <img src="@Model.ClassImage.Url" class="img-fluid" alt="">
                                </div>
                            }
                            <!--class steps-->
                            <div class="col-md-7 pt-4" data-aos="fade-left">
                                @if (!string.IsNullOrWhiteSpace(Model.ClassTitle))
                                {
                                    <h3>@Model.ClassTitle</h3>
                                }
                                @if (Model.ClassDescription != null)
                                {
                                    <p class="font-italic">@Model.ClassDescription</p>
                                }
                                @if (Model.ClassStepList != null)
                                {
                                    foreach (var step in Model.ClassStepList)
                                    {
                                        <div class="row lessonstepRow">
                                            @if (!string.IsNullOrWhiteSpace(step.StepNumber))
                                            {
                                                <div class="col-md-1 numberCircle roundNumber">
                                                    @step.StepNumber
                                                </div>
                                            }
                                            @if (step.StepDescription != null)
                                            {
                                                <div class="col-md-11 ">
                                                    <p>@step.StepDescription</p>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>    
                        <!--Conclution section-->
                        @{
                            var url = Request.RawUrl;
                            var tempID = url.Split('?').Last();
                            int kidID = tempID.AsInt();
                            var kid = Services.MemberService.GetById(kidID);
                            var urlEntries = url.Split('/');
                            var lessonName = urlEntries[2].ToString();
                            var oldValue = kid.GetValue<string>("childLessonsCompleted");
                            if (oldValue != null)
                            {
                                var arrayOfAllOldValues = oldValue.Split('?');
                                if (!arrayOfAllOldValues.Contains(lessonName))
                                {
                                    using (Html.BeginUmbracoForm("SubmitLevel", "Member", System.Web.Mvc.FormMethod.Post, new { id = "levelSubmit" }))
                                    {
                                        Html.AntiForgeryToken();
                                        var myUser = System.Web.Security.Membership.GetUser();
                                        if (myUser != null)
                                        {
                                            <div class="section-title markCompleteText">                                             
                                                @if (Model.PageConclusion != null)
                                                {
                                                    <p data-aos="fade-in">@Model.PageConclusion</p>
                                                }      
                                                @if (!string.IsNullOrWhiteSpace(Model.PageButtonText) && Model.PageButtonLink != null)
                                                {
                                                    <div class="markCompleteButton">
                                                        <button class="yourKidsButton" name="login" type="submit"><span>Complete</span> </button>
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="section-title markCompleteText">                                      
                                        @if (Model.PageConclusion != null)
                                        {
                                            <p data-aos="fade-in">@Model.PageConclusion</p>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(Model.PageButtonText) && Model.PageButtonLink != null)
                                        {
                                            <div class="markCompleteButton">
                                                <button disabled class="yourKidsButton" name="login" type="submit"><span>Complete</span> </button>
                                            </div>
                                            if (!string.IsNullOrWhiteSpace(Model.LevelCompletedWording))
                                            {
                                                 <p>@Model.LevelCompletedWording</p>
                                            }
                                            if (!string.IsNullOrWhiteSpace(Model.TrophyPageButtonWording) && Model.TrophyPageButtonLink != null && !string.IsNullOrWhiteSpace(Model.LevelPageButtonWording) && Model.LevelPageButtonLink != null)
                                            {
                                                 <p class="smallButtonLink">
                                                    <span><a href="@Model.TrophyPageButtonLink.Url">@Model.TrophyPageButtonWording</a></span>
                                                    |
                                                    <span><a href="@Model.LevelPageButtonLink.Url">@Model.LevelPageButtonWording</a></span>
                                                 </p>
                                            }                                           
                                        }
                                    </div>
                                }
                            }
                        }
                    </div>
                </section>
            </main><!-- End #main -->
        }
        else
        {
            Response.Redirect("/login");
        }
    }
    catch (Exception)
    {
        Response.Redirect("/login");
    }
}