@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LessonsAndPackages>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "loggedInMaster.cshtml";
}
<main id="main">
	<!-- ======= Lesson Section ======= -->
	<section id="lessons" class="services section-bg">
		<div class="container">
			<div class="section-title">
				@if (!string.IsNullOrWhiteSpace(@Model.LessonsSectionHeader))
				{
					<h2 data-aos="fade-in">@Model.LessonsSectionHeader</h2>
				}
				@if (@Model.LessonSectionDescription != null)
				{
					<p data-aos="fade-in">@Model.LessonSectionDescription</p>
				}
			</div>
			<div class="row">
				@if (Model.LessonList != null)
				{
					foreach (Lesson lesson in Model.LessonList)
					{
						<div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
							<div class="card">
								<div class="card-img">
									@if (lesson.LessonImage != null)
									{
										<img class="imgCard" src="@lesson.LessonImage.Url" alt="Lesson image">
									}
								</div>
								<div class="card-body">
									@if (!string.IsNullOrWhiteSpace(lesson.LessonTitle) && lesson.LessonButtonLink != null)
									{
										<h5 class="card-title"><a href="@lesson.LessonButtonLink.Url">@lesson.LessonTitle</a></h5>
									}
									@if (lesson.LessonShortDescription != null)
									{
										<p class="card-text">@lesson.LessonShortDescription</p>
									}
									<div class="read-more">
										@if (!string.IsNullOrWhiteSpace(lesson.LessonButtonText) && lesson.LessonButtonLink != null)
										{
											<a href="@lesson.LessonButtonLink.Url">
												<i class="icofont-arrow-right"></i>
												@lesson.LessonButtonText
											</a>
										}
									</div>
								</div>
							</div>
						</div>
					}
				}
			</div>
		</div>
	</section><!-- End Lesson Section -->
	<!-- ======= Packages Section ======= -->
	<section id="packages" class="features section-bg">
		<div class="container">
			<div class="section-title">
				@if (!string.IsNullOrWhiteSpace(Model.PackageSectionHeader))
				{
					<h2 data-aos="fade-in">@Model.PackageSectionHeader</h2>
				}
				@if (Model.PackagesSectionDescription != null)
				{
					<p data-aos="fade-in">@Model.PackagesSectionDescription</p>
				}
			</div>
			<div>
				@if (Model.PackageList != null)
				{
					foreach (Package package in Model.PackageList)
					{
						<div class="row content">
							@if (package.PackageImage != null)
							{
								<div class="col-md-5" data-aos="fade-right">
									<img src="@package.PackageImage.Url" class="img-fluid packageImg" alt="Package Image">
								</div>
							}

							<div class="col-md-7 pt-4" data-aos="fade-left">
								<div class="row">
									@if (!string.IsNullOrWhiteSpace(package.PackageTitle))
									{
										<h3>@package.PackageTitle</h3>
									}
								</div>
								<div class="row">
									@if (package.PackageDescription != null)
									{
										<p class="font-italic">
											@package.PackageDescription
										</p>
									}
								</div>
								<div class="row">
									<ul>
										@if (package.LessonList != null)
										{
											foreach (Lesson lesson in package.LessonList)
											{
												if (!string.IsNullOrWhiteSpace(lesson.LessonTitle))
												{
													<li>
														<i class="icofont-check"></i>
														@lesson.LessonTitle
													</li>
												}
											}
										}
										@if (package.AlternativeItemList != null)
										{
											foreach (var item in package.AlternativeItemList)
											{
												if (!string.IsNullOrWhiteSpace(@item.AlternativeItem))
												{
													<li>
														<i class="icofont-check"></i>
														@item.AlternativeItem
													</li>
												}
											}

										}
									</ul>
								</div>
							</div>
						</div>
						<div class="row packageDivHeight">
							<div class="col-md-10"></div>
							<div class="col-md-2">
								@if (!string.IsNullOrWhiteSpace(package.PackageButtonText) && package.PackageButtonLink != null)
								{
									<a href="@package.PackageButtonLink.Url" class="yourKidsButton">@package.PackageButtonText</a>
								}
							</div>
						</div>
					}
				}
			</div>
			@*<br />
			<hr style=" width:60%;">
			<br />
			<div class="row content">
				<div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
					<img src="assets/img/junior_builder/package2.jpg" class="img-fluid packageImg" alt="">
				</div>
				<div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
					<div class="row">
						<h3>Corporis temporibus maiores provident</h3>
						<p class="font-italic">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
						<p>
							Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
							velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
							culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>
					<br />
					<br />
					<br />

					<div class="row">
						<a href="purchase.html" class="yourKidsButton">Purchase</a>

					</div>
				</div>
			</div>*@
		</div>
	</section><!-- End Packages Section -->
</main><!-- End #main -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>