@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LessonLayout>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "loggedInMaster.cshtml";
}
<main id="main">
<!-- Lesson layout -->
<section class="page-section" id="about">
    <div class="container">
        <div class="section-title">
            @if (!string.IsNullOrWhiteSpace(@Model.LessonLayoutHeader))
            {
                <h2 data-aos="fade-in">@Model.LessonLayoutHeader</h2>
            }
            @if (Model.LessonLayoutDescription != null)
            {
                <p data-aos="fade-in">@Model.LessonLayoutDescription</p>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    @if (@Model.LessonWeekList != null)
                    {
                        foreach (var week in Model.LessonWeekList)
                        {
                            if (!string.IsNullOrWhiteSpace(week.WeekCount) && !string.IsNullOrWhiteSpace(week.WeekTitle) && week.WeekDescription != null)
                            {
                                <li class="timeline-inverted">
                                    <div class="timeline-image">
                                        <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4>@week.WeekCount:</h4>
                                            <h4 class="subheading">@week.WeekTitle</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p class="text-muted">@week.WeekDescription</p>
                                        </div>
                                        <br />
                                        @if (!string.IsNullOrWhiteSpace(week.WeekButtonText) && week.WeekButtonLink != null)
                                        {
                                            <div class="row">
                                                <div class="col-md-8"></div>
                                                <div class="col-md-4">
                                                    <a href="@week.WeekButtonLink.Url" class="yourKidsButtonOutline">@week.WeekButtonText</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
</main><!-- End #main -->
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>