@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LessonLayout>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    try
    {
        if (Umbraco.MemberIsLoggedOn())
        {
            Layout = "loggedinMaster.cshtml";
            var Id = Request.RawUrl;
            var tempID = Id.Split('?').Last();
            int kidID = tempID.AsInt();
            var kid = Services.MemberService.GetById(kidID);
            var nextPageWithId = "";
            <main id="main">
                <!-- Lesson layout -->
                <section class="page-section" id="about">
                    <div class="container">
                        <div class="section-title">
                            @if (!string.IsNullOrWhiteSpace(@Model.LessonLayoutHeader))
                            {
                                <h2 data-aos="fade-in">@Model.LessonLayoutHeader</h2>
                            }
                            @if (Model.LessonLayoutDescription != null)
                            {
                                <p data-aos="fade-in">@Model.LessonLayoutDescription</p>
                            }
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="timeline">
                                    @if (@Model.LessonWeekList != null)
                                    {
                                        foreach (var week in Model.LessonWeekList)
                                        {
                                            if (!string.IsNullOrWhiteSpace(week.WeekCount) && !string.IsNullOrWhiteSpace(week.WeekTitle) && week.WeekDescription != null)
                                            {
                                                <li class="timeline-inverted">
                                                    <div class="timeline-image">
                                                        <img class="rounded-circle img-fluid" src="img/about/2.jpg" alt="">
                                                    </div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>@week.WeekCount:</h4>
                                                            <h4 class="subheading">@week.WeekTitle</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p class="text-muted">@week.WeekDescription</p>
                                                        </div>
                                                        <div class="row trophyRowPaddingBottom">                                                           
                                                            <div class="col-md-12 trophyText trophyTextMobile ">
                                                                @if (week.WeekLevels != null)
                                                                {
                                                                    foreach (var level in week.WeekLevels)
                                                                    {
                                                                        <ul class="listInList">
                                                                            @if (!string.IsNullOrWhiteSpace(level.LevelName) && level.LevelPageLink != null)
                                                                            {
                                                                                nextPageWithId = level.LevelPageLink.Url + "?" + kidID;
                                                                                <li class="listItemMarginBottom">
                                                                                    <i class="icofont-ui-edit listItemCheckIcon"></i> 
                                                                                    <a href="@nextPageWithId" class="levelItem">@level.LevelName</a>
                                                                                </li>
                                                                            }                                                                          
                                                                        </ul>
                                                                    }
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main><!-- End #main -->
            <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
        }
        else
        {
            Response.Redirect("/login");
        }
    }
    catch (Exception)
    {
        Response.Redirect("/login");
    }
}