@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = null;
    var homePage = (Homepage)Model.Root();
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Junior Builder- Register</title>
        <meta content="" name="descriptison">
        <meta content="" name="keywords">
        <!-- Favicons -->
        <link href="~/Media/vs1ab5vr/characters2.png" rel="icon">
        <link href="~/Media/vs1ab5vr/characters2.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->

        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet" />
        <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
        <link href="~/vendor/venobox/venobox.css" rel="stylesheet" />
        <link href="~/vendor/aos/aos.css" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link href="~/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header">
            <div class="container d-flex">
                <div class="logo mr-auto">
                    @if (!string.IsNullOrWhiteSpace(homePage.NavigationHeaderText) && homePage.NavigationHeaderLink != null)
                    {
                        <h1 class="text-light">
                            <a href="@homePage.NavigationHeaderLink.Url">
                                @homePage.NavigationHeaderText
                                <span>
                                    .
                                </span>
                            </a>
                        </h1>
                    }

                </div>
                <!-- .nav-menu -->
                <nav class="nav-menu d-none d-lg-block">                   
                    <ul>
                        @if (homePage.NavigationBarItemList != null)
                        {
                            foreach (var navItem in homePage.NavigationBarItemList)
                            {
                                if (!string.IsNullOrWhiteSpace(navItem.NavigationItemText) && navItem.NavigationItemLink != null)
                                {
                                    <li class="active">
                                        <a href="@navItem.NavigationItemLink.Url">
                                            @navItem.NavigationItemText
                                        </a>
                                    </li>
                                }
                            }
                        }
                        @if (homePage.NavigationBarButtonList != null)
                        {
                            foreach (var button in homePage.NavigationBarButtonList)
                            {
                                if (!string.IsNullOrWhiteSpace(button.NavigationButtonText) && button.NavigationButtonLink != null)
                                {
                                    <li class="get-started">
                                        <a href="@button.NavigationButtonLink.Url">
                                            @button.NavigationButtonText
                                        </a>
                                    </li>
                                }
                            }
                        }
                    </ul> 
                </nav>
                <!-- .nav-menu -->
            </div>
        </header>
        <!-- End Header -->

        @RenderBody()

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container" data-aos="fade-up">
                    <div class="row  justify-content-center">
                        <div class="col-lg-6">
                            @if (!string.IsNullOrWhiteSpace(homePage.FooterHeaderText))
                            {
                                <h3>@homePage.FooterHeaderText</h3>
                            }
                            @if (homePage.FooterDescription != null)
                            {
                                <p>@homePage.FooterDescription</p>
                            }
                        </div>
                    </div>
                    <div class="row footer-newsletter justify-content-center">
                        <div class="col-lg-6">
                            <form action="" method="post">
                                @if (!string.IsNullOrWhiteSpace(homePage.FooterSubscriptionPlaceholderText) && !string.IsNullOrWhiteSpace(homePage.FooterSubscriptionButtonText))
                                {
                                    <input type="email" name="email" placeholder="@homePage.FooterSubscriptionPlaceholderText">
                                    <input type="submit" value="@homePage.FooterSubscriptionButtonText">
                                }
                            </form>
                        </div>
                    </div>
                    <div class="social-links">
                        
                            @if (!string.IsNullOrWhiteSpace(homePage.TwitterLink))
                            {
                                <a href="@homePage.TwitterLink" class="twitter"><i class="bx bxl-twitter"></i></a>
                            }
                            @if (!string.IsNullOrWhiteSpace(homePage.FacebookLink))
                            {
                                <a href="@homePage.FacebookLink" class="facebook"><i class="bx bxl-facebook"></i></a>
                            }
                            @if (!string.IsNullOrWhiteSpace(homePage.InstagramLink))
                            {

                                <a href="@homePage.InstagramLink" class="instagram"><i class="bx bxl-instagram"></i></a>
                            }
                            @if (!string.IsNullOrWhiteSpace(homePage.SkypeLink))
                            {
                                <a href="@homePage.SkypeLink" class="google-plus"><i class="bx bxl-skype"></i></a>
                            }
                            @if (!string.IsNullOrWhiteSpace(homePage.LinkeInLink))
                            {
                                <a href="@homePage.LinkeInLink" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            }
                    </div>
                </div>
            </div>
            <div class="container footer-bottom clearfix">
                <div class="copyright">
                    &copy; Copyright <strong><span>Junior Builder</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Version 0.0.0
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- Vendor JS Files -->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="~/vendor/php-email-form/validate.js"></script>
        <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/vendor/venobox/venobox.min.js"></script>
        <script src="~/vendor/aos/aos.js"></script>

        <!-- Template Main JS File -->
        <script src="~/scripts/main.js"></script>
    </body>
</html>

