@using JuniorBuilder.Controllers
@model Umbraco.Web.Models.LoginModel
@using (Html.BeginUmbracoForm<LoginController>("Login"))
{
    @Html.AntiForgeryToken()  
    <fieldset>
        <div class="form-row">
            <div class="col-md-6 form-group">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="col-md-6 form-group" style="padding-left: 15px;">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        @Html.ValidationSummary(true)
        <div class="text-center">
            <button class="yourKidsButton" name="login" type="submit">Login</button>
        </div>
    </fieldset>
}